// Place all the styles related to the Product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
  font-size: 2em;
  text-align: center;
}

a, a:link, a:visited{
  text-decoration: none;
}

body{
  padding: 5px;
  font-size: 17px;
  // background-image: url("border.jpg");
  background-repeat: no-repeat;
  background-size: 100% 20%;
}

h1{
  padding: 10px;
}

.pattern{
  border: 1px solid black;
  border-radius: 4px;
  margin: 5px 10px;
  padding: 10px 10px;
  width: 250px;
  height: 380px;
  float: left;
}

img{
  height: 200px;
  display: block;
  margin: auto;
}

p{
  margin: 10px;
}

.others{
  position: absolute;
  bottom: 20px;
}

.vertical-menu {
  width: 200px; /* Set a width if you like */
  float: left;
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}

.content{
  float: left;
  margin-left: 50px;
}

#color{
  position: absolute;
  width:50px;
  height:25px;
  margin-left: 10px;
}